@use '../../sass/partials/variables';
@use '../../sass/partials/mixins';

.wrapper {
    margin: 20px, 0px;

    h2 {
        text-align: center;
        margin: 20px;
        font-size: 35px;
    }
  
    img {
        width: 350px;
    }

    p {
        @include mixins.text;
    }

    div {
        @include mixins.flex-row;
    }
}

