$primary-color: #ee1111;
$secondary-color: #524765;
// $gradient: linear-gradient(146deg, rgba(229,219,183,1) 0%, rgba(202,193,152,1) 100%);
$gradient: linear-gradient(152deg, rgba(82,71,101,1) 0%, rgba(238,17,17,1) 100%);